html, body {
  font-family: sans-serif;
  margin: 0;
}

.title-bar {
  background: #448AFF;
  padding: 2px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.sticky-title-bar {
  background: #448AFF;
  padding: 2px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}

.title {
  font-size: 50px;
  grid-column: 2 / 3;
  text-align: center;
}

.return {
  grid-column: 1 / 2;
  font-size: 20px;
  text-align: center;
}

.signout {
  grid-column: 3 / 4;
  font-size: 20px;
  text-align: center;
}

.footer {
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

button[type=submit] {
  background-color: #005ECB;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
}

input[type=submit] {
  background-color: #005ECB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
}

input[type=file] {
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}

input[type=password] {
  background-color: #83B9FF;
  border: none;
  padding: 20px;
  font-size: 30px;
}

input[type=text] {
  background-color: #83B9FF;
  border: none;
  padding: 20px;
  font-size: 30px;
}

select {
  background-color: #005ECB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 20px 200px 20px 200px;
}

.full-width {
  grid-column: 1 / 3;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #546E7A;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #546E7A;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #546E7A;
}

.error-message {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  padding: 5px 0px 5px 20px;
  display: none;
}

.error-text {
  color: #cc0033;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
  display: none;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 50%;
}

.styled-table thead tr {
  background-color: #005ECB;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #005ECB;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 140px 0 0 0;
}

.so-button {
  background-color: #005ECB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
}